body{
  padding: 0;
  margin: 0;
  width:100%;
  height:100%;
  background-color:#4D4D4D;
  color:#FFFFFF;
  font-size:16pt;
}

.container{
  width:95%;
  margin:auto;
  min-height:10em;
}

.result{
  width:90%;
  min-width:18em;
  padding:0.2em;
  margin:auto;
  text-align:center;
  overflow-x:auto;
}

.indent{
  width:6em;
  height:1em;
  display:inline;
}

img{
  display:block;
  margin:auto;
}

.input_area{
  background-color:#CCCCCC;
  width:90%;
  min-width:12em;
  max-width:30em;
  margin:auto;
  padding:0.5em;
}

.dictionary_select{
  padding:0.2em;
}

.field {
  margin:0.3em;
}